<div class="row">
  <div class="col-md-6">
    <%= form.field_container :old_url, class: ['form-group'] do %>
      <%= form.label :old_url, Spree.t('old_url') %>
      <%= form.text_field :old_url, :class => 'form-control' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= form.field_container :new_url, class: ['form-group'] do %>
      <%= form.label :new_url, Spree.t('new_url') %>
      <%= form.text_field :new_url, :class => 'form-control' %>
    <% end %>
  </div>
</div>
