<%= content_for :page_title do %>
  <%= Spree.t(:redirects) %>
<% end %>

<%= content_for :table_filter do %>
  <div data-hook="admin_redirects_filter">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :old_url_cont, Spree.t(:old_url) %>
            <%= f.text_field :old_url_cont, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :new_url_cont, Spree.t(:new_url) %>
            <%= f.text_field :new_url_cont, class: 'form-control' %>
          </div>
        </div>
        <div class=" col-md-12 form-actions">
          <%= button Spree.t(:search), 'search' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_redirect), new_admin_redirect_path, class: 'btn-success', icon: 'add' %>
 <% end %>

<%= paginate @redirects %>

<table class="table">
  <thead>
	<tr>
    	<th><%= sort_link @search, :old_rl,  Spree.t('old_url') %></th>
    	<th><%= sort_link @search, :new_url, Spree.t('new_url') %></th>
    	<th><%= Spree.t('action') %></th>
	</tr>
  </thead>
  <tbody>
    <%- @redirects.each do |redirect|%>
    <tr id="<%= dom_id redirect %>">
      <td><%= redirect.old_url %></td>
      <td><%= redirect.new_url %></td>
      <td>
      	<%= link_to_edit redirect, no_text: true %> &nbsp;
      	<%= link_to_delete redirect, no_text: true %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @redirects %>
